<form action="/enviar" method="POST">
  <input name="descricao" placeholder="Descrição">
  <input name="valor_total" placeholder="Valor total" type="number" step="0.01">
  <input name="num_parcelas" placeholder="Parcelas" type="number">
  <input name="data_compra" type="date">
  <input name="forma_pagamento" placeholder="Pix / Crédito / Débito">
  <input name="categoria" placeholder="Categoria">
  <input name="subcategoria" placeholder="Subcategoria">
  <button type="submit">Enviar</button>
</form>
<a href="/dashboard">Ver Dashboard</a>
